*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.textcenter{
    text-align: center;
    font-size: 3rem;
}

.formulario{
    max-width: 60rem;
    margin: 0 auto;
}

.formulario fieldset{
    border: 1px solid black;
    padding: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.formulario legend{
    background-color: palevioletred;
    width: 90%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900px;
    padding: 0.5rem;
    margin-bottom: 4rem;
    font-size: 1.5rem;
}

.campo{
    display: flex;
    margin-bottom: 2rem;

}

.campo label{
    flex-basis: 10rem;
}

.campo input:not([type="radio"]),
.campo textarea,
.campo select{
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}



.boton{
    background-color: mediumvioletred;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    text-align: center;
    border: none;
    width: 100%;
}

.boton:hover{
    background-color: orchid;
    cursor: pointer;
}
